.menu {
  

    .menu__img{
        margin-top: 25px;
    }
    .menu__list{
        margin-top: 91px;
        list-style-type: none;
        li{
            margin-top:  64px;
    margin-left: 10px;
            display: flex;
            margin-left: -35px;
            font-family: 'Baloo 2';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    width: 110px;
    display: flex;
    justify-content: space-between;
        }
        
    }
    .list__item{
        margin-top: 200px;
        list-style-type: none;
        width: 110px;
        display: flex;
        justify-content: space-between;
        margin-bottom: 80px;
    }
}