
.er{

    margin-left: 913px;
    margin-top: 232px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    /* 800 */
    
    color: #2D3748;
}
.aer{
margin-left: 913px;
margin-top: -10px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 35px;

/* 900 */

color: #1A202C;
}
.tq4{
margin-left: 913px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
/* identical to box height */


/* 700 */

color: #4A5568;
}
.qq34t{
    box-sizing: border-box;
    margin-left: 913px;


border: 1px solid #E8E8E8;
border-radius: 5px;
}
.q34q43{
    margin-left: 913px;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    
    /* 700 */
    
    color: #4A5568;
}
.etyr{
    box-sizing: border-box;

    margin-left: 913px;

border: 1px solid #E8E8E8;
border-radius: 5px;
}
.etyr{
    box-sizing: border-box;
    margin-left: 913px;

/* 100 */

background: #F7FAFC;
border: 1px solid #E8E8E8;
}
.wyyw{
    margin-left: 943px;
margin-top:-15px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* 800 */

color: #2D3748;
}
.awtgaer{
    margin-left: 1153px;
margin-top: -30px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 16px;

/* 800 */

color: #2C5282;

}
.eagear{
    margin-left: 913px;

background: #04C45C;
border-radius: 5px;
p{


font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;

}
}
.eagear{
    margin-left: 913px;
/* 800 */

width: 347px;
height: 50px;
border-radius: 5px;
p{
    margin-left: 913px;
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 19px;
/* identical to box height */


color: #FFFFFF;
}
}.login{
    border: 1px solid #000;
    margin: 0 auto;
}.rehy{
    margin-left: 913px;
}